<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC5 Developer</title>
    <link rel="stylesheet" href="~/Content/Css/Bootstrap.css" />
    <link rel="stylesheet" href="~/Content/Css/Site.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">

            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="~/Content/Images/image.png" width="30" height="30" class="d-inline-block align-top" alt="MVC5 Developer Brand">
                    MV5 Developer
                </a>
            </nav>
            <ul class="nav">
                <li class="nav-item">@Html.ActionLink("Produtos", "Index", new { controller = "Produto" }, new { @class = "nav-link" })</li>
                <li class="nav-item">@Html.ActionLink("Categorias", "Index", new { controller = "Categoria" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MVC5 Developer</p>
        </footer>
    </div>

</body>
</html>